# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
build/
out/
publish.bat
*.iml
doc/maven/
doc/mavenTest/
local.properties
temp.conf.json
*.log
vcsLib.conf.json
vcsLib.json
vcsLib.maven.json
vcsLib.maven.backup.json
vcsLib.publish.json
